include dash_audio_recorder/dash_audio_recorder.min.js
include dash_audio_recorder/dash_audio_recorder.min.js.map
include dash_audio_recorder/async-*.js
include dash_audio_recorder/async-*.js.map
include dash_audio_recorder/*-shared.js
include dash_audio_recorder/*-shared.js.map
include dash_audio_recorder/metadata.json
include dash_audio_recorder/package-info.json
include README.md
include LICENSE
include package.json
